<h2>Vote for the Game of the Year</h2>
<hr />

<div class="row">
  <div class="col">
    <div class="row row-cols-1 row-cols-md-3 g-4" data-bs-theme="dark">
      <div class="col" *ngFor="let game of games">
        <div class="card h-100">
          <img [src]="game.url" class="card-img-top" alt="game.name" />
          <div class="card-body">
            <h5 class="card-title">{{ game.name }}</h5>
            <p class="card-text">{{ game.desc }}</p>
          </div>
          <div
            class="card-footer d-flex justify-content-around align-items-center"
          >
            <small class="text-body-secondary"
              >Click to vote for this game</small
            >
            <button
              class="btn btn-block btn-outline-primary"
              (click)="voteGame(game.id)"
            >
              VOTE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
